!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name=>"description", :content => "Frausto LLC is a small single member company that specializes in building out custom web applications for clients."}
    %meta{:name=>"keywords", :content=>"nolan, frausto, frausto llc, consultancy, new york, web development, web applications, web apps, rails, ruby, agile, contractor"}
    %meta{:name=>"author", :content=>"fraustollc.com"}
    %title Frausto LLC
    = stylesheet_link_tag "site.css"
    = favicon_tag 'favicon.png'
    %script{:type => 'text/javascript'}
      :plain
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34780478-1']);
        _gaq.push(['_setDomainName', 'fraustollc.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body{:class => page_classes}
    #blognavigation
      = link_to "/", :id => "blog_home" do
        .nav_item.header
          .stuff
            %span.bracket {
            %span.headline frausto llc
            %span.bracket }
      %h2.bold.thoughts
        Thoughts and stuff
      .summary
        %p
          Nolan Frausto is your friendly neighborhood web developer.
        %p
          He runs Frausto LLC: a small single member company that specializes in building out custom web applications for clients.

      .smally
        %p
          .bold Blog Posts
        %p
          .bold 05 September 2013
          =link_to "The Code Culture Problem", "/blog/shit_code"
        %p
          .bold 26 November 2013
          =link_to "Outsourcing Impossible", "/blog/outsourcing_impossible"
        %p
          .bold 05 June 2014
          =link_to "Finally. Clippy for Chrome!", "/blog/clippy_two"
        %p
          .bold 04 August 2014
          =link_to "The Tech Interview Problem", "/blog/interview_fun"

    %div{:id => "main", :role => "main"}
      = yield
    #hidden_images
  %footer
    .by Nolan Frausto &copy;
    .subtext Nolan lives and works in New York City. You may have spotted him in various coffee shops or bars depending on the time of day.
  = javascript_include_tag "app.js"
