- content_for :sub_nav do
  #site_links
    = link_to "about", "#about", :class => "nav_item nav_link", :id => "about_link"
    = link_to "blog", "#blog", :class => "nav_item nav_link", :id => "blog_link"
    = link_to "clients", "#portfolio", :class => "nav_item nav_link", :id => "portfolio_link"
    = link_to "contact", "#contact", :class => "nav_item nav_link", :id => "contact_link"

#about.section
  .headline.light
    The Company

  .content
    %p
      Nolan Frausto is your friendly neighborhood web developer working in the San Francisco area who enjoys coding, climbing, museums, and good beer.
    %p
      He runs Frausto LLC: a small single member company that specializes in building out custom web applications for clients.
    %p
      The company was created in 2012 in order to provide programming and technical consulting services for websites in any stage of the development process. We follow <a href="http://agilemanifesto.org/" target="_blank">Agile</a> best practices, and believe in delivering quality code in a timely manner.
    %p
      Primarily working on Ruby on Rails projects in the San Francisco area, Nolan is a fullstack developer dedicated to delivering reliable, manageable, scalable, and well designed web products.

#portfolio.section
  .headline.light
    Portfolio

  .content

    .congresswhat
      = link_to "http://congresswhat.com" , :target => '_blank' do
        .pic
          .boverlay
          = image_tag("cwhat.png")
          .description
            <span class='lead'>Congress What</span> <span class='mytitle'>{lead developer}</span> lets you gather information about your members of congress in an easy and intuitive way.

    .bgov
      = link_to "http://bgov.com" , :target => '_blank', :class => 'preview' do
        .pic
          .boverlay
          = image_tag("bgov.png")
          .description
            <span class='lead'>Bgov</span> <span class='mytitle'>{senior developer}</span> is a <a href="http://rubyonrails.org/" target='_blank'>Rails</a> app run by <a href="http://en.wikipedia.org/wiki/Bloomberg_L.P." target='_blank'>Bloomberg</a> dedicated to organizing government data including but not limited to news, grants, contracts, congressional staff, federal regulation, etc...

    .zearn
      = link_to "http://zearn.com" , :target => '_blank', :class => 'preview' do
        .pic
          .boverlay
          = image_tag("zearn.png")
          .description
            <span class='lead'>Zearn</span> <span class='mytitle'>{developer consultant}</span> was designed by teachers for teachers in order to engage kids with joyful learning experiences, ensure students master basic and advanced <a href='http://www.corestandards.org/' target='_blank'>Common Core skills</a>, and let teachers provide targeted individual or small group instruction.

    .tinderon
      = link_to "http://tinderon.com" , :target => '_blank', :class => 'preview' do
        .pic
          .boverlay
          = image_tag("tinder.jpg")
          .description
            <span class='lead'>TinderOn</span> <span class='mytitle'>{lead developer}</span> lets you share you tinder stories. Have fun!

    .champd
      = link_to "http://champd.com", :target => '_blank', :class => 'preview' do
        .pic
          .boverlay
          = image_tag("champd.png")
          .description
            <span class='lead'>Champd</span> <span class='mytitle'>{founder / lead developer}</span> lets you find people around you to play against in the game or sport of your choosing. We keep track of all your wins and losses, and let you search for people of similar skill levels. That's right, you're welcome.

    .diobox
      = link_to "http://diobox.com" , :target => '_blank', :class => 'preview' do
        .pic
          .boverlay
          = image_tag("diobox.png")
          .description
            <span class='lead'>Diobox</span> <span class='mytitle'>{lead developer}</span> the most advanced platform for managing events and people.




#blog.section
  .headline.light
    Blog

  .content
    .centerize
      %p
        .bold 05 September 2013
        =link_to "The Code Culture Problem", "/blog/shit_code"

      %p
        .bold 26 November 2013
        =link_to "Outsourcing Impossible", "/blog/outsourcing_impossible"

      %p
        .bold 05 June 2014
        =link_to "Finally. Clippy for Chrome!", "/blog/clippy_two"

      %p
        .bold 04 August 2014
        =link_to "The Tech Interview Problem", "/blog/interview_fun"


#contact.section
  .headline.light
    Contact

  .content
    %p
      I am always interested in meeting other web enthusiasts. Whether you want to discuss new technologies, are looking for someone to help build out a website, or are just lonely and want to talk to someone. I don't judge.
    %p
      Feel free to email me, or contact me through any of the means below.

    %p
    .centerize
      .icon= link_to image_tag("linkedin.png"), "http://www.linkedin.com/in/nolanfrausto", :target => '_blank'
      .icon= link_to image_tag("github.png"), "https://github.com/frausto", :target => '_blank'
      .icon= link_to image_tag("gmail.png"), "mailto:nolan@fraustollc.com", :target => '_blank'