!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    = stylesheet_link_tag "site.css"
  %body{:class => page_classes}
    #navigation
      .nav_item.header
        %span.bracket {
        %span.headline frausto llc
        %span.bracket }
        %h3 it consultancy focused on agile development and custom web apps
      = link_to "Home", "#home", :class => "nav_item", :id => "home"
      = link_to "Portfolio", "#portfolio", :class => "nav_item", :id => "portfolio"
      = link_to "Blog", "#blog", :class => "nav_item", :id => "blog"
      = link_to "About", "#about", :class => "nav_item", :id => "about"
      = link_to "Contact", "#contact", :class => "nav_item", :id => "contact"

    %div{:id => "main", :role => "main"}
  = javascript_include_tag "app.js"